.sprite-cover {
    background-image: url(img/cover_spritesheet.jpg);
    background-repeat: no-repeat;
}

.sprite-cover-2dgravityphysics {

    background-position: 0 calc(0px + 25px);
}

.sprite-cover-alkahest {

    background-position: -213px calc(0px + 25px);
}

.sprite-cover-amazons3-cover {

    background-position: -426px calc(0px + 25px);
}

.sprite-cover-analytics {

    background-position: -639px calc(0px + 25px);
}

.sprite-cover-audioplayer {

    background-position: -852px calc(0px + 25px);
}

.sprite-cover-autoprice {

    background-position: 0 calc(25px - 120px);
}

.sprite-cover-bitcoin_c {

    background-position: -213px calc(25px - 120px);
}

.sprite-cover-bitcoinlazyapi {

    background-position: -426px calc(25px - 120px);
}

.sprite-cover-bitcoinmodulejava {

    background-position: -639px calc(25px - 120px);
}

.sprite-cover-bitcoinwallet {

    background-position: -852px calc(25px - 120px);
}

.sprite-cover-blacknebula {

    background-position: 0 calc(25px - 240px);
}

.sprite-cover-bloobuy {

    background-position: -213px calc(25px - 240px);
}

.sprite-cover-clinic-cover {

    background-position: -426px calc(25px - 240px);
}

.sprite-cover-codeana {

    background-position: -639px calc(25px - 240px);
}

.sprite-cover-crypto {

    background-position: -852px calc(25px - 240px);
}

.sprite-cover-crypto-portfolio-android {

    background-position: 0 calc(25px - 360px);
}

.sprite-cover-csspack-cover {

    background-position: -213px calc(25px - 360px);
}

.sprite-cover-default {

    background-position: -426px calc(25px - 360px);
}

.sprite-cover-demaken {

    background-position: -639px calc(25px - 360px);
}

.sprite-cover-discordbot {

    background-position: -852px calc(25px - 360px);
}

.sprite-cover-dungeon-puzzle {

    background-position: 0 calc(25px - 480px);
}

.sprite-cover-ebisu-cover {

    background-position: -213px calc(25px - 480px);
}

.sprite-cover-ecom {

    background-position: -426px calc(25px - 480px);
}

.sprite-cover-eduform-cover {

    background-position: -639px calc(25px - 480px);
}

.sprite-cover-flappy {

    background-position: -852px calc(25px - 480px);
}

.sprite-cover-ionicutil-cover {

    background-position: 0 calc(25px - 600px);
}

.sprite-cover-issue-tracker {

    background-position: -213px calc(25px - 600px);
}

.sprite-cover-kestrel-cover {

    background-position: -426px calc(25px - 600px);
}

.sprite-cover-litsmart {

    background-position: -639px calc(25px - 600px);
}

.sprite-cover-login-system {

    background-position: -852px calc(25px - 600px);
}

.sprite-cover-marketing-single-page {

    background-position: 0 calc(25px - 720px);
}

.sprite-cover-match3 {

    background-position: -213px calc(25px - 720px);
}

.sprite-cover-missing {

    background-position: -426px calc(25px - 720px);
}

.sprite-cover-mockdata-cover {

    background-position: -639px calc(25px - 720px);
}

.sprite-cover-mouseanalytics {

    background-position: -852px calc(25px - 720px);
}

.sprite-cover-mpacman {

    background-position: 0 calc(25px - 840px);
}

.sprite-cover-music-stream {

    background-position: -213px calc(25px - 840px);
}

.sprite-cover-nanooq-cover {

    background-position: -426px calc(25px - 840px);
}

.sprite-cover-news-template {

    background-position: -639px calc(25px - 840px);
}

.sprite-cover-nodejs-currency-cover {

    background-position: -852px calc(25px - 840px);
}

.sprite-cover-password-manager {

    background-position: 0 calc(25px - 960px);
}

.sprite-cover-phppdocrud {

    background-position: -213px calc(25px - 960px);
}

.sprite-cover-poll-cover {

    background-position: -426px calc(25px - 960px);
}

.sprite-cover-puzzleblock {

    background-position: -639px calc(25px - 960px);
}

.sprite-cover-qn-cover {

    background-position: -852px calc(25px - 960px);
}

.sprite-cover-restaurant-tablet {

    background-position: 0 calc(25px - 1080px);
}

.sprite-cover-anubislink {

    background-position: 0 calc(25px - 1200px);
}

.sprite-cover-clipsyne {

    background-position: -213px calc(25px - 1200px);
}

.sprite-cover-chromeextension {

    background-position: -426px calc(25px - 1200px);
}

.sprite-cover-simcheck {

    background-position: -639px calc(25px - 1200px);
}

.sprite-cover-skirmish {

    background-position: -213px calc(25px - 1080px);
}

.sprite-cover-smart-code-helper {

    background-position: -426px calc(25px - 1080px);
}

.sprite-cover-spaceshooter-unity {

    background-position: -639px calc(25px - 1080px);
}

.sprite-cover-webscraper {

    background-position: -852px calc(25px - 1200px);
}


.sprite-cover-stella {

    background-position: -852px calc(25px - 1080px);
}

.sprite-cover-stockpic-cover {

    background-position: -1065px calc(0px + 25px);
}

.sprite-cover-surveysystem-cover {

    background-position: -1065px calc(25px - 120px);
}

.sprite-cover-thesisvr {

    background-position: -1065px calc(25px - 240px);
}

.sprite-cover-ticket-system {

    background-position: -1065px calc(25px - 360px);
}

.sprite-cover-url-short {

    background-position: -1065px calc(25px - 480px);
}

.sprite-cover-video-stream {

    background-position: -1065px calc(25px - 600px);
}

.sprite-cover-visual-novel {

    background-position: -1065px calc(25px - 720px);
}

.sprite-cover-vndungeoncrawler {

    background-position: -1065px calc(25px - 840px);
}

.sprite-cover-webfbx-cover {

    background-position: -1065px calc(25px - 960px);
}

.sprite-cover-website-template {

    background-position: -1065px calc(25px - 1080px);
}
