.sprite-cover {
    background-image: url(img/cover_spritesheethalf.jpg);
    background-repeat: no-repeat;
}

.sprite-cover-2dgravityphysics {

    background-position: 0 0px;
}

.sprite-cover-alkahest {

    background-position: calc(-213px * 0.5) 0px;
}

.sprite-cover-amazons3-cover {

    background-position: calc(-426px * 0.5) 0px;
}

.sprite-cover-analytics {

    background-position: calc(-639px * 0.5) 0px;
}

.sprite-cover-audioplayer {

    background-position: calc(-852px * 0.5) 0px;
}

.sprite-cover-autoprice {

    background-position: 0 calc((0px - 120px) * 0.5);
}

.sprite-cover-bitcoin_c {

    background-position: calc(-213px * 0.5) calc((0px - 120px) * 0.5);
}

.sprite-cover-bitcoinlazyapi {

    background-position: calc(-426px * 0.5) calc((0px - 120px) * 0.5);
}

.sprite-cover-bitcoinmodulejava {

    background-position: calc(-639px * 0.5) calc((0px - 120px) * 0.5);
}

.sprite-cover-bitcoinwallet {

    background-position: calc(-852px * 0.5) calc((0px - 120px) * 0.5);
}

.sprite-cover-blacknebula {

    background-position: 0 calc((0px - 240px) * 0.5);
}

.sprite-cover-bloobuy {

    background-position: calc(-213px * 0.5) calc((0px - 240px) * 0.5);
}

.sprite-cover-clinic-cover {

    background-position: calc(-426px * 0.5) calc((0px - 240px) * 0.5);
}

.sprite-cover-codeana {

    background-position: calc(-639px * 0.5) calc((0px - 240px) * 0.5);
}

.sprite-cover-crypto {

    background-position: calc(-852px * 0.5) calc((0px - 240px) * 0.5);
}

.sprite-cover-crypto-portfolio-android {

    background-position: 0 calc((0px - 360px) * 0.5);
}

.sprite-cover-csspack-cover {

    background-position: calc(-213px * 0.5) calc((0px - 360px) * 0.5);
}

.sprite-cover-default {

    background-position: calc(-426px * 0.5) calc((0px - 360px) * 0.5);
}

.sprite-cover-demaken {

    background-position: calc(-639px * 0.5) calc((0px - 360px) * 0.5);
}

.sprite-cover-discordbot {

    background-position: calc(-852px * 0.5) calc((0px - 360px) * 0.5);
}

.sprite-cover-dungeon-puzzle {

    background-position: 0 calc((0px - 480px) * 0.5);
}

.sprite-cover-ebisu-cover {

    background-position: calc(-213px * 0.5) calc((0px - 480px) * 0.5);
}

.sprite-cover-ecom {

    background-position: calc(-426px * 0.5) calc((0px - 480px) * 0.5);
}

.sprite-cover-eduform-cover {

    background-position: calc(-639px * 0.5) calc((0px - 480px) * 0.5);
}

.sprite-cover-flappy {

    background-position: calc(-852px * 0.5) calc((0px - 480px) * 0.5);
}

.sprite-cover-ionicutil-cover {

    background-position: 0 calc((0px - 600px) * 0.5);
}

.sprite-cover-issue-tracker {

    background-position: calc(-213px * 0.5) calc((0px - 600px) * 0.5);
}

.sprite-cover-kestrel-cover {

    background-position: calc(-426px * 0.5) calc((0px - 600px) * 0.5);
}

.sprite-cover-litsmart {

    background-position: calc(-639px * 0.5) calc((0px - 600px) * 0.5);
}

.sprite-cover-login-system {

    background-position: calc(-852px * 0.5) calc((0px - 600px) * 0.5);
}

.sprite-cover-marketing-single-page {

    background-position: 0 calc((0px - 720px) * 0.5);
}

.sprite-cover-match3 {

    background-position: calc(-213px * 0.5) calc((0px - 720px) * 0.5);
}

.sprite-cover-missing {

    background-position: calc(-426px * 0.5) calc((0px - 720px) * 0.5);
}

.sprite-cover-mockdata-cover {

    background-position: calc(-639px * 0.5) calc((0px - 720px) * 0.5);
}

.sprite-cover-mouseanalytics {

    background-position: calc(-852px * 0.5) calc((0px - 720px) * 0.5);
}

.sprite-cover-mpacman {

    background-position: 0 calc((0px - 840px) * 0.5);
}

.sprite-cover-music-stream {

    background-position: calc(-213px * 0.5) calc((0px - 840px) * 0.5);
}

.sprite-cover-nanooq-cover {

    background-position: calc(-426px * 0.5) calc((0px - 840px) * 0.5);
}

.sprite-cover-news-template {

    background-position: calc(-639px * 0.5) calc((0px - 840px) * 0.5);
}

.sprite-cover-nodejs-currency-cover {

    background-position: calc(-852px * 0.5) calc((0px - 840px) * 0.5);
}

.sprite-cover-password-manager {

    background-position: 0 calc((0px - 960px) * 0.5);
}

.sprite-cover-phppdocrud {

    background-position: calc(-213px * 0.5) calc((0px - 960px) * 0.5);
}

.sprite-cover-poll-cover {

    background-position: calc(-426px * 0.5) calc((0px - 960px) * 0.5);
}

.sprite-cover-puzzleblock {

    background-position: calc(-639px * 0.5) calc((0px - 960px) * 0.5);
}

.sprite-cover-qn-cover {

    background-position: calc(-852px * 0.5) calc((0px - 960px) * 0.5);
}

.sprite-cover-restaurant-tablet {

    background-position: 0 calc((0px - 1080px) * 0.5);
}

.sprite-cover-anubislink {

    background-position: 0 calc((0px - 1200px) * 0.5);
}

.sprite-cover-clipsyne {

    background-position: calc(-213px * 0.5) calc((0px - 1200px) * 0.5);
}

.sprite-cover-chromeextension {

    background-position: calc(-426px * 0.5) calc((0px - 1200px) * 0.5);
}

.sprite-cover-simcheck {

    background-position: calc(-639px * 0.5) calc((0px - 1200px) * 0.5);
}

.sprite-cover-skirmish {

    background-position: calc(-213px * 0.5) calc((0px - 1080px) * 0.5);
}

.sprite-cover-smart-code-helper {

    background-position: calc(-426px * 0.5) calc((0px - 1080px) * 0.5);
}

.sprite-cover-spaceshooter-unity {

    background-position: calc(-639px * 0.5) calc((0px - 1080px) * 0.5);
}

.sprite-cover-webscraper {

    background-position: calc(-852px * 0.5) calc((0px - 1200px) * 0.5);
}


.sprite-cover-stella {

    background-position: calc(-852px * 0.5) calc((0px - 1080px) * 0.5);
}

.sprite-cover-stockpic-cover {

    background-position: calc(-1065px * 0.5) calc(0px + 25px) * 0.5);
}

.sprite-cover-surveysystem-cover {

    background-position: calc(-1065px * 0.5) calc((0px - 120px) * 0.5);
}

.sprite-cover-thesisvr {

    background-position: calc(-1065px * 0.5) calc((0px - 240px) * 0.5);
}

.sprite-cover-ticket-system {

    background-position: calc(-1065px * 0.5) calc((0px - 360px) * 0.5);
}

.sprite-cover-url-short {

    background-position: calc(-1065px * 0.5) calc((0px - 480px) * 0.5);
}

.sprite-cover-video-stream {

    background-position: calc(-1065px * 0.5) calc((0px - 600px) * 0.5);
}

.sprite-cover-visual-novel {

    background-position: calc(-1065px * 0.5) calc((0px - 720px) * 0.5);
}

.sprite-cover-vndungeoncrawler {

    background-position: calc(-1065px * 0.5) calc((0px - 840px) * 0.5);
}

.sprite-cover-webfbx-cover {

    background-position: calc(-1065px * 0.5) calc((0px - 960px) * 0.5);
}

.sprite-cover-website-template {

    background-position: calc(-1065px * 0.5) calc((0px - 1080px) * 0.5);
}
