.sprites-icons {
    background-image: url(img/icon_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    width: 60px;
    height: 60px;

}

.sprite-icon-aftereffects {

    background-position: -2px -2px;
}

.sprite-icon-agile {

    background-position: -66px -2px;
}

.sprite-icon-ai {

    background-position: -130px -2px;
}

.sprite-icon-angular {

    background-position: -194px -2px;
}

.sprite-icon-apache {

    background-position: -258px -2px;
}

.sprite-icon-apidesign {

    background-position: -322px -2px;
}

.sprite-icon-architect {

    background-position: -386px -2px;
}

.sprite-icon-asm {

    background-position: -450px -2px;
}

.sprite-icon-audacity {

    background-position: -2px -66px;
}

.sprite-icon-audition {

    background-position: -66px -66px;
}

.sprite-icon-automation {

    background-position: -130px -66px;
}

.sprite-icon-basic {

    background-position: -194px -66px;
}

.sprite-icon-bitcoin {

    background-position: -258px -66px;
}

.sprite-icon-blender {

    background-position: -322px -66px;
}

.sprite-icon-blockchain {

    background-position: -386px -66px;
}

.sprite-icon-chai {

    background-position: -450px -66px;
}

.sprite-icon-consulting {
    width: 60px;
    height: 65px;
    background-position: -2px -130px;
}

.sprite-icon-crypto {

    background-position: -66px -130px;
}

.sprite-icon-cryptography {

    background-position: -130px -130px;
}

.sprite-icon-data-science {

    background-position: -194px -130px;
}

.sprite-icon-digitallogic {

    background-position: -258px -130px;
}

.sprite-icon-diplomacy {

    background-position: -322px -130px;
}

.sprite-icon-documentation {

    background-position: -386px -130px;
}

.sprite-icon-dotnet {

    background-position: -450px -130px;
}

.sprite-icon-elec {

    background-position: -66px -194px;
}

.sprite-icon-electron {

    background-position: -130px -194px;
}

.sprite-icon-eth {

    background-position: -194px -194px;
}

.sprite-icon-express {

    background-position: -258px -194px;
}

.sprite-icon-finance {

    background-position: -322px -194px;
}

.sprite-icon-german {

    background-position: -386px -194px;
}

.sprite-icon-intelligence {

    background-position: -450px -194px;
}

.sprite-icon-ionic {

    background-position: -2px -258px;
}

.sprite-icon-japan {

    background-position: -66px -258px;
}

.sprite-icon-jenkins {

    background-position: -130px -258px;
}

.sprite-icon-jquery {

    background-position: -194px -258px;
}

.sprite-icon-libgdx {

    background-position: -258px -258px;
}

.sprite-icon-macroeconomics {

    background-position: -322px -258px;
}

.sprite-icon-management {

    background-position: -386px -258px;
}

.sprite-icon-maya {

    background-position: -450px -258px;
}

.sprite-icon-mocha {

    background-position: -2px -322px;
}

.sprite-icon-negotiations {

    background-position: -66px -322px;
}

.sprite-icon-nightmare {

    background-position: -130px -322px;
}

.sprite-icon-nodejs {

    background-position: -194px -322px;
}

.sprite-icon-objc {

    background-position: -258px -322px;
}

.sprite-icon-opengl {

    background-position: -322px -322px;
}

.sprite-icon-opsec {

    background-position: -386px -322px;
}

.sprite-icon-oracle {

    background-position: -450px -322px;
}

.sprite-icon-photoshop {

    background-position: -2px -386px;
}

.sprite-icon-physics {

    background-position: -66px -386px;
}

.sprite-icon-premiere {

    background-position: -130px -386px;
}

.sprite-icon-problemsolving {

    background-position: -194px -386px;
}

.sprite-icon-psy {

    background-position: -258px -386px;
}

.sprite-icon-quantum {

    background-position: -322px -386px;
}

.sprite-icon-rest {

    background-position: -386px -386px;
}

.sprite-icon-robotics {

    background-position: -450px -386px;
}

.sprite-icon-sass {

    background-position: -2px -450px;
}

.sprite-icon-science {

    background-position: -66px -450px;
}

.sprite-icon-scrum {

    background-position: -130px -450px;
}

.sprite-icon-sec {

    background-position: -194px -450px;
}

.sprite-icon-selenium {
    width: 60px;
    height: 63px;
    background-position: -258px -450px;
}

.sprite-icon-shell {

    background-position: -322px -450px;
}

.sprite-icon-solidity {

    background-position: -386px -450px;
}

.sprite-icon-svn {

    background-position: -450px -450px;
}

.sprite-icon-teach {

    background-position: -514px -2px;
}

.sprite-icon-teamlead {

    background-position: -514px -66px;
}

.sprite-icon-tech {

    background-position: -514px -130px;
}

.sprite-icon-test {

    background-position: -514px -194px;
}

.sprite-icon-uiux {

    background-position: -514px -258px;
}

.sprite-icon-unity {

    background-position: -514px -322px;
}

.sprite-icon-usa {

    background-position: -514px -386px;
}

.sprite-icon-vegas {

    background-position: -514px -450px;
}

.sprite-icon-visual {

    background-position: -2px -514px;
}

.sprite-icon-winforms {

    background-position: -66px -514px;
}
